.shows {
    float: left;
    margin: 10vh 10vw;
    color: purple;
    width: 30%;
    padding: 10px;
    border: 5px solid darkorange;
    background-color: silver; 
}

.disclaimer {
    float: right;
    margin: 10vh 10vw;
    color: darkorange;
    width: 30%;
    padding: 10px;
    border: 5px solid purple;
    background-color: black;
}
h1 {
    color: green;
    font-size: 46px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    background-color: honeydew;

}
.albums {
    color: orange;
    text-decoration: none;
}
.tour {
    color: purple;
    text-decoration: none;
}